h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titleFont);
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: var(--font-h1);
    line-height: 100%;
    letter-spacing: -2px;
}

@media (min-width: 992px) {
    h1 {
        letter-spacing: -4px;
    }
}

h2 {
    font-size: var(--font-h2);
    line-height: 130%;
}

img,
picture {
    max-width: 100%;
    display: block;
}

p {
    font-size: var(--font-body);
    line-height: 160%;
    color: var(--color-text-secondary);
}

/* -----------> */

.canvas-aura.aura-wrapper.aura-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: var(--zindex-base);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    display: none;
    opacity: 0.5;
}

@media (min-width: 768px) {
    .canvas-aura.aura-wrapper.aura-wrapper {
        display: block;
    }
}

.canvas-aura.aura-wrapper .mask.aura-wrapper {
    position: absolute;
    z-index: var(--zindex-2);
    background: var(--color-gradient);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.canvas-holder.aura-wrapper.aura-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: var(--zindex-base);
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: var(--zindex-base);
    opacity: var(--canvas-opacity);


    background: linear-gradient(45deg,
     var(--app-color-blue100) 0%,
     var(--app-color-blue300) 15%,
     var(--app-color-blue500) 30%,
     var(--app-color-indigo200) 45%,
     var(--app-color-yellow300) 60%,
     var(--app-color-yellow500) 75%,
     var(--app-color-green500) 90%,
     var(--app-color-green800) 100%);
}

.main {
    position: relative;
    z-index: var(--zindex-content);
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

h1.header-main {
    padding: 8rem 0 3rem;
    position: relative;
}

@media (min-width: 768px) {
    h1.header-main {
        padding: 12rem 0 3rem;
    }
}

.header-span {
    position: relative;
    z-index: 10;
}

@media (min-width: 768px) {
    .header-span {
        display: block;
    }
}

h1 .holder {
    position: relative;
}

span.section {
    position: relative;
    z-index: 10;
}

@media (min-width: 768px) {
    span.section {
        display: block;
    }
}

.holder.section {
    display: flex;
    justify-content: center;
    position: relative;
}

.holder-content.section {
    position: relative;
}

.stars.section {
    position: absolute;
    transform: scale(0.5);
}

@media (min-width: 768px) {
    .stars.section {
        transform: scale(1);
    }
}

.stars.right.section {
    right: -5.5rem;
    top: -2rem;
}

.stars.left.section {
    left: -8rem;
    bottom: -0.5rem;
}

.figure {
    position: relative;
}

img.figure {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    max-width: inherit;
    position: relative;
    z-index: var(--zindex-content);
    --_shadow: var(--shadow, none);
    --_radius: var(--radius, 0);
    box-shadow: var(--_shadow);
    border-radius: var(--_radius);
    --_margin: var(--margin, 0);
    margin: var(--_margin);
}

img.loaded.figure,
img.skip.figure {
    opacity: 1;
}

.wrapper.under-header {
    padding: 0 var(--24px);
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    position: relative;
}

@media (min-width: 768px) {
    .wrapper.under-header {
        padding: 0 var(--16px);
    }
}

p.under-header {
    font-size: var(--font-body);
    --_color: var(--color, var(--color-text-secondary));
    color: var(--_color);
    letter-spacing: -0.3px;
}

.wrapper.under-header>.under-header {
    grid-column: 2;
}

p.center.under-header {
    text-align: center;
    font-weight: 500;
}

.cards {
    padding: 0 calc(var(--24px) + 6px) calc(var(--64px) * 2);

}

.cards.cards-container {
    margin-top: 10vh
}

.cards-content {
    display: grid;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(25, 1fr);
    grid-row-gap: var(--64px);
}

@media (min-width: 992px) {
    .cards-content {
        grid-row-gap: calc(var(--64px) * 2.5);
    }
}

.card-container1 {
    display: contents;
    --background: var(--color-pink);
    --color: var(--color-text-bold);
    --grid-column-start: 1;
    --grid-column-end: 10;
}

.card-container2 {
    display: contents;
    --background: var(--color-mint);
    --color: var(--color-text-bold);
    --grid-column-start: 11;
    --grid-column-end: 26;
}

.card-container3 {
    display: contents;
    --background: var(--color-rust);
    --color: var(--color-text-bold);
    --grid-column-start: 1;
    --grid-column-end: 16;
}

.card-container4 {
    display: contents;
    --background: var(--color-babyblue);
    --color: var(--color-text-bold);
    --grid-column-start: 17;
    --grid-column-end: 26;
}

.card.card-wrapper.card-wrapper {
    --_background: var(--background, var(--color-red));
    --_color: var(--color, var(--color-beige));
    --_grid-column-start: var(--grid-column-start, 1);
    --_grid-column-end: var(--grid-column-end, 26);
    width: 100%;
    color: var(--_color);
    background: var(--_background);
    border-radius: var(--24px);
    max-height: 20rem;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 26;
    cursor: pointer;
    transition: all .5s var(--transition-bounce);
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

@media (min-width: 992px) {
    .card.card-wrapper.card-wrapper {
        max-height: 550px;
        border-radius: var(--64px);
        grid-column-start: var(--_grid-column-start);
        grid-column-end: var(--_grid-column-end);
    }
}

@media (min-width: 544px) {
    .card.card-wrapper.card-wrapper:hover {
        transform: translate3d(0, -3px, 0);
        box-shadow: var(--shadow-lg);
        filter: saturate(1.2);
    }
}

.card.card-wrapper.card-wrapper:hover  .inner{
    transform: translate3d(0, 15px, 0);
    box-shadow: var(--shadow-lg);
    
}

.card-flourish.card-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    display: none;
}

.card-flourish.card-wrapper img.card-wrapper {
    position: absolute;
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: translate3d(0, 10px, 0);
}

.card-wrap.card-wrapper.card-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--24px);
    padding: var(--24px);
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .card-wrap.card-wrapper.card-wrapper {
        padding: var(--42px) var(--64px) 0;
        border-radius: var(--64px);
    }
}

.info.card-wrapper.card-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
    z-index: var(--zindex-top);
}

span.card-wrapper.card-wrapper {
    font-size: var(--15px);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}

.inner.card-wrapper.card-wrapper {
    position: relative;
    z-index: var(--zindex-content);
    transition: all .8s var(--transition-bounce);
    display: flex;
    flex: 1;
    justify-content: center;
    --_align: var(--align, flex-end);
    align-items: var(--_align);
    margin-top: var(--42px);
}

.image-holder.image-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}